<!-- Product section-->
<section class="py-5">
    <div class="container px-2 px-lg-3 my-3">
        <div class="row gx-4 gx-lg-5 align-items-center bg-white shadow-sm" *ngFor="let product of Products"
            style="padding: 20px;">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="small mb-1">كود المنتج : {{product.id}}</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-2" *ngIf="product.discount > 0">
                    <span>الخصم</span><span class="me-3">% {{product.discount}}</span>
                </div>
                <div class="fs-5 mb-4">
                    <span>السعر : </span>
                    <!-- <span class="text-decoration-line-through me-3">$45.00</span> -->
                    <span class="me-3">LE {{product.price}}</span>
                </div>
                <div class="mb-4">
                    <h5>وصف المنتج</h5>
                    <small>{{product.description}}  {{product.category}}</small><br>
                    <small>الموسم : {{product.season}}</small>
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        أضف الي العربه
                    </button>
                    <input class="form-control text-center me-1" id="inputQuantity" type="number" value="1"
                        style="max-width: 4rem" />
                </div>
            </div>
            <div class="col-md-4" style="padding: 20px;"><img class="card-img-top mb-5 mb-md-0"
                    src={{product.images[0]}} alt="..." /></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-2 px-lg-3 mt-3">
        <h2 class="fw-bolder mb-4">منتجات مشابهه</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/originals/4e/be/50/4ebe50e2495b17a79c31e48a0e54883f.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">تيشيرت قطن</h5>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="#">عرض</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">خصم
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/originals/4e/be/50/4ebe50e2495b17a79c31e48a0e54883f.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">تيشيرت قطن</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="#">عرض</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">خصم
                    </div>
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/originals/4e/be/50/4ebe50e2495b17a79c31e48a0e54883f.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">تيشيرت قطن</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="#">عرض</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 shadow">
                    <!-- Product image-->
                    <img class="card-img-top"
                        src="https://i.pinimg.com/originals/4e/be/50/4ebe50e2495b17a79c31e48a0e54883f.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">تيشيرت قطن</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="#">عرض</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>